{{define "header"}}
<header class="header">
    <div class="header__wrapper">
        <nav  class="header__nav">
            <img class="header__logo" src="/assets/logo.png" alt="Juju logo">
            <h2 class="header__title">Julian Jackson</h2>
        </nav>

    </div>
</header>
{{end}}